
    <div id="main">
        <h3>Welcome to the charity website</h3>
        <ol class="round">
            <li class="one">
                <h5>Click <a href="users/login">here</a> to login</h5>
            </li>
            <li class="two">
                <h5>Clarity in Charity - FAQ</h5>
                    <li>Where is my money going?</li>
                    <li>How is my money being spent Now? Future?</li>
                    <li>Tactical? Strategic?</li>
                    <li> How can I plan my contributions? How much and to whom?</li>
                    <li>Experience the soccour.</li>
                <li> How much did I spend?</li>
                <li>Where are the contributions coming from? Where are they going to?</li> 
                <li>Which are the disaster areas/immediate need?</li> 
                <li>How can I link my contributions to my spending?</li> 
                </li>
                <li class="asterisk">
                </li>
        </ol>
    </div>